.titulor{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
    width: 100%;
}
.ti{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 700;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 100%;
    flex-flow: wrap row;
}
.btn-light{
    width: 400px;
    height: 250px;
    border-radius: 40px;
}
.img{
    height: 100%;
    width: 100%;
    border-radius: 40px;
}
@media(max-width:600px){
    .btn-light{
        width: 100%;
    }
    
}
