<div class="container">
  <div class="titulo">
    <h1 class="ti">TIPO DE CATEGORIA</h1>
  </div>
  <hr>


  <div class="titulo">
    <h1 class="ti">Maquinaria</h1>

  </div>
  <div class="scroll">
    <div class="table-responsive">
      <table class="table table-primary table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col" class="td">ID</th>
            <th scope="col" class="td">Frabricante</th>
            <th scope="col" class="td">Tipo</th>
            <th scope="col" class="td">Modelo</th>
            <th scope="col" class="td">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.MQ_FABRICANTE=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.MQ_FABRICANTE=='null'">{{t_categoria.MQ_FABRICANTE}}</td>
            <td class="td" [hidden]="t_categoria.MQ_TIPO=='null'">{{t_categoria.MQ_TIPO}}</td>
            <td class="td" [hidden]="t_categoria.MQ_MODELO=='null'">{{t_categoria.MQ_MODELO}}</td>
            <td class="td" [hidden]="t_categoria.MQ_DESCRIPCION=='null'">{{t_categoria.MQ_DESCRIPCION}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<hr>
  <div class="titulo">
    <h1 class="ti">Derecho de Patente</h1>

  </div>
  <div class="scroll">
    <div class="table-responsive">
      <table class="table table-primary table-sm table-bordered">
        <thead>
          <tr>
            <th class="td" scope="col">ID</th>
            <th class="td" scope="col">Nombre</th>
            <th class="td" scope="col">Serie</th>
            <th class="td" scope="col">Fecha Vencimiento</th>
            <th class="td" scope="col">Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.DP_NOMBRE=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.DP_NOMBRE=='null'">{{t_categoria.DP_NOMBRE}}</td>
            <td class="td" [hidden]="t_categoria.DP_SERIE=='null'">{{t_categoria.DP_SERIE}}</td>
            <td class="td" [hidden]="t_categoria.DP_FECHA_DE_VENCIMIENTO=='null'">
              {{t_categoria.DP_FECHA_DE_VENCIMIENTO}}</td>
            <td class="td" [hidden]="t_categoria.DP_DETALLES=='null'">{{t_categoria.DP_DETALLES}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
  </div>


<hr>
  <div class="titulo">
    <h1 class="ti">Equipo de Transporte</h1>

  </div>

  <div class="scroll">
    <div class="table-responsive">

      <table class="table table-primary table-sm table-bordered">
        <thead>
          <tr>
            <th class="td" scope="col">ID</th>
            <th class="td" scope="col">Nombre</th>
            <th class="td" scope="col">Placa</th>
            <th class="td" scope="col">Tipo de Transporte</th>
            <th class="td" scope="col">Serie</th>
            <th class="td" scope="col">Año</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.ET_NOMBRE=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.ET_NOMBRE=='null'">{{t_categoria.ET_NOMBRE}}</td>
            <td class="td" [hidden]="t_categoria.ET_PLACA=='null'">{{t_categoria.ET_PLACA}}</td>
            <td class="td" [hidden]="t_categoria.ET_TIPO_DE_TRANSPORTE=='null'">{{t_categoria.ET_TIPO_DE_TRANSPORTE}}
            </td>
            <td class="td" [hidden]="t_categoria.ET_SERIE=='null'">{{t_categoria.ET_SERIE}}</td>
            <td class="td" [hidden]="t_categoria.ET_ANIO=='null'">{{t_categoria.ET_ANIO}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<hr>
  <div class="titulo">
    <h1 class="ti">Inmuebles</h1>

  </div>

  <div class="scroll">
    <div class="table-responsive">

      <table class="table table-primary table-sm table-bordered">
        <thead>
          <tr>
            <th class="td" scope="col">ID</th>
            <th class="td" scope="col">Nombre</th>
            <th class="td" scope="col">Dimensiones</th>
            <th class="td" scope="col">Direccion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.INM_NOMBRE=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.INM_NOMBRE=='null'">{{t_categoria.INM_NOMBRE}}</td>
            <td class="td" [hidden]="t_categoria.INM_DIMENSIONES=='null'">{{t_categoria.INM_DIMENSIONES}}</td>
            <td class="td" [hidden]="t_categoria.INM_DIRECCION=='null'">{{t_categoria.INM_DIRECCION}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<hr>
 
  <div class="titulo">
    <h1 class="ti">Equipo de Oficina</h1>

  </div>

  <div class="scroll">
    <div class="table-responsive">
      <table class="table table-primary table-sm table-bordered">
        <thead>
          <tr>
            <th class="td" scope="col">ID</th>
            <th class="td" scope="col">Marca</th>
            <th class="td" scope="col">Tipo</th>
            <th class="td" scope="col">Modelo</th>
            <th class="td" scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.EF_MARCA=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.EF_MARCA=='null'">{{t_categoria.EF_MARCA}}</td>
            <td class="td" [hidden]="t_categoria.EF_TIPO=='null'">{{t_categoria.EF_TIPO}}</td>
            <td class="td" [hidden]="t_categoria.EF_MODELO=='null'">{{t_categoria.EF_MODELO}}</td>
            <td class="td" [hidden]="t_categoria.EF_DESCRIPCION=='null'">{{t_categoria.EF_DESCRIPCION}}</td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>
  
</div>