<div class="container">
  <div class="titulo1">
    <h1 class="ti1">TIPO DE CATEGORIA</h1>
  </div>


  <div class="titulo">
    <h1 class="ti">Maquinaria</h1>
  </div>
  <button class="btn btn-info" type="button" routerLink="crmaquinaria">Agregar CAT. Maquinaria</button>
  <div class="scroll">
    <div class="table-responsive">
      <table class="table table-primary table-sm table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" class="td">ID</th>
            <th scope="col" class="td">Frabricante</th>
            <th scope="col" class="td">Tipo</th>
            <th scope="col" class="td">Modelo</th>
            <th scope="col" class="td">Descripcion</th>
            <th scope="col" class="td">Botones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.MQ_FABRICANTE=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.MQ_FABRICANTE=='null'">{{t_categoria.MQ_FABRICANTE}}</td>
            <td class="td" [hidden]="t_categoria.MQ_TIPO=='null'">{{t_categoria.MQ_TIPO}}</td>
            <td class="td" [hidden]="t_categoria.MQ_MODELO=='null'">{{t_categoria.MQ_MODELO}}</td>
            <td class="td" [hidden]="t_categoria.MQ_DESCRIPCION=='null'">{{t_categoria.MQ_DESCRIPCION}}</td>
            <td class="td" [hidden]="t_categoria.MQ_DESCRIPCION=='null'">
              <div class="btn-group btn-group-sm">

                <button mat-raised-button matTooltip="Editar Registro" type="button" mat-button color="primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </button>

                <button mat-raised-button matTooltip="Eliminar Registro" type="button" mat-button color="warn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3" viewBox="0 0 16 16">
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                  </svg>
                </button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="titulo">
    <h1 class="ti">Derecho de Patente</h1>

  </div>
  <div class="scroll">
    <div class="table-responsive">
      <table class="table table-primary table-striped table-sm table-bordered">
        <thead>
          <tr>
            <th class="td" scope="col">ID</th>
            <th class="td" scope="col">Nombre</th>
            <th class="td" scope="col">Serie</th>
            <th class="td" scope="col">Fecha Vencimiento</th>
            <th class="td" scope="col">Detalles</th>
            <th class="td" scope="col">Botones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.DP_NOMBRE=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.DP_NOMBRE=='null'">{{t_categoria.DP_NOMBRE}}</td>
            <td class="td" [hidden]="t_categoria.DP_SERIE=='null'">{{t_categoria.DP_SERIE}}</td>
            <td class="td" [hidden]="t_categoria.DP_FECHA_DE_VENCIMIENTO=='null'">
              {{t_categoria.DP_FECHA_DE_VENCIMIENTO}}</td>
            <td class="td" [hidden]="t_categoria.DP_DETALLES=='null'">{{t_categoria.DP_DETALLES}}</td>
            <td class="td" [hidden]="t_categoria.DP_DETALLES=='null'">
              <div class="btn-group btn-group-sm">

                <button mat-raised-button matTooltip="Editar Registro" type="button" mat-button color="primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </button>

                <button mat-raised-button matTooltip="Eliminar Registro" type="button" mat-button color="warn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3" viewBox="0 0 16 16">
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                  </svg>
                </button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="titulo">
    <h1 class="ti">Equipo de Transporte</h1>

  </div>

  <div class="scroll">
    <div class="table-responsive">

      <table class="table table-primary table-striped table-sm table-bordered">
        <thead>
          <tr>
            <th class="td" scope="col">ID</th>
            <th class="td" scope="col">Nombre</th>
            <th class="td" scope="col">Placa</th>
            <th class="td" scope="col">Tipo de Transporte</th>
            <th class="td" scope="col">Serie</th>
            <th class="td" scope="col">Año</th>
            <th class="td" scope="col">Botones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.ET_NOMBRE=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.ET_NOMBRE=='null'">{{t_categoria.ET_NOMBRE}}</td>
            <td class="td" [hidden]="t_categoria.ET_PLACA=='null'">{{t_categoria.ET_PLACA}}</td>
            <td class="td" [hidden]="t_categoria.ET_TIPO_DE_TRANSPORTE=='null'">{{t_categoria.ET_TIPO_DE_TRANSPORTE}}
            </td>
            <td class="td" [hidden]="t_categoria.ET_SERIE=='null'">{{t_categoria.ET_SERIE}}</td>
            <td class="td" [hidden]="t_categoria.ET_ANIO=='null'">{{t_categoria.ET_ANIO}}</td>
            <td class="td" [hidden]="t_categoria.ET_ANIO=='null'">
              <div class="btn-group btn-group-sm">

                <button mat-raised-button matTooltip="Editar Registro" type="button" mat-button color="primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </button>

                <button mat-raised-button matTooltip="Eliminar Registro" type="button" mat-button color="warn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3" viewBox="0 0 16 16">
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                  </svg>
                </button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="titulo">
    <h1 class="ti">Inmuebles</h1>

  </div>

  <div class="scroll">
    <div class="table-responsive">

      <table class="table table-primary table-striped table-sm table-bordered">
        <thead>
          <tr>
            <th class="td" scope="col">ID</th>
            <th class="td" scope="col">NOMBRE</th>
            <th class="td" scope="col">Dimensiones</th>
            <th class="td" scope="col">Direccion</th>
            <th class="td" scope="col">Botones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.INM_NOMBRE=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.INM_NOMBRE=='null'">{{t_categoria.INM_NOMBRE}}</td>
            <td class="td" [hidden]="t_categoria.INM_DIMENSIONES=='null'">{{t_categoria.INM_DIMENSIONES}}</td>
            <td class="td" [hidden]="t_categoria.INM_DIRECCION=='null'">{{t_categoria.INM_DIRECCION}}</td>
            <td class="td" [hidden]="t_categoria.INM_DIRECCION=='null'">
              <div class="btn-group btn-group-sm">

                <button mat-raised-button matTooltip="Editar Registro" type="button" mat-button color="primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </button>

                <button mat-raised-button matTooltip="Eliminar Registro" type="button" mat-button color="warn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3" viewBox="0 0 16 16">
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                  </svg>
                </button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>


  <div class="titulo">
    <h1 class="ti">Equipo de Oficina</h1>

  </div>
  <div class="scroll">
    <div class="table-responsive">
      <table class="table table-primary table-striped table-sm table-bordered">
        <thead>
          <tr>
            <th class="td" scope="col">ID</th>
            <th class="td" scope="col">Marca</th>
            <th class="td" scope="col">Tipo</th>
            <th class="td" scope="col">Modelo</th>
            <th class="td" scope="col">Descripcion</th>
            <th class="td" scope="col">Botones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t_categoria of tcategoria">
            <td class="td" [hidden]="t_categoria.EF_MARCA=='null'">{{t_categoria.ID_TIPO_CATEGORIA}}</td>
            <td class="td" [hidden]="t_categoria.EF_MARCA=='null'">{{t_categoria.EF_MARCA}}</td>
            <td class="td" [hidden]="t_categoria.EF_TIPO=='null'">{{t_categoria.EF_TIPO}}</td>
            <td class="td" [hidden]="t_categoria.EF_MODELO=='null'">{{t_categoria.EF_MODELO}}</td>
            <td class="td" [hidden]="t_categoria.EF_DESCRIPCION=='null'">{{t_categoria.EF_DESCRIPCION}}</td>
            <td class="td" [hidden]="t_categoria.EF_DESCRIPCION=='null'">
              <div class="btn-group btn-group-sm">

                <button mat-raised-button matTooltip="Editar Registro" type="button" mat-button color="primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </button>

                <button mat-raised-button matTooltip="Eliminar Registro" type="button" mat-button color="warn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3" viewBox="0 0 16 16">
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                  </svg>
                </button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>