.listar{
    height: 100vh;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.scroll{
    height: 70vh;
    overflow-y: scroll;
    width: 100%;
}
.scroll::-webkit-scrollbar{
    width: 5px;
}
.ti{
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.td{
    text-align: center;
}