<div class="container">
  <div class="listar">
    <div>

      <div class="titulo">
        <h1 class="ti">Categorias</h1>
      </div>

      <div class="botones">
        <button class="btn btn-info" mat-raised-button matTooltip="Registrar nueva categoria de activo" type="button"
          mat-button color="primary" type="button" routerLink="/categoria/crcategoria">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags"
            viewBox="0 0 16 16">
            <path
              d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z" />
            <path
              d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z" />
          </svg> Nueva Categoria de Activo
        </button>
      </div>

      <div class="scroll">
        <div class="table-responsive">
          <table class="table table table-primary table-striped">
            <thead>
              <tr>
                <th scope="col" class="td">ID Categoria</th>
                <th scope="col" class="td">Tipo de Categoria</th>
                <th scope="col" class="td">Botones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let catego of categoria">
                <th class="td">{{catego.ID_CATEGORIA}}</th>
                <td class="td">{{catego.ID_TIPO_CATEGORIA}}</td>
                <td class="td">
                  <button type="button" name="buttom" class="btn btn-primary" role="button"
                    [routerLink]="['crcategoria', catego.ID_CATEGORIA]" (click)="findmaq(catego.ID_CATEGORIA)"
                    mat-button color="primary" aria-label="Button that displays a tooltip when focused or hovered over"
                    mat-raised-button matTooltip="Editar Registro"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                      height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg></button>


                  <button type="button" name="buttom" class="btn btn-danger" role="button"
                    (click)="elimimaq(catego.ID_CATEGORIA)" mat-raised-button matTooltip="Eliminar Registro"
                    type="button" mat-button color="warn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash3" viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>