<h1>Depreciaciones de Activos</h1>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID Activo</th>
        <th scope="col">No. de Serie</th>
        <th scope="col">Nombre Activo</th>
        <th scope="col">Fecha de Ingreso</th>
        <th scope="col">Precio Actual</th>
        <th scope="col">Depresiacion</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let depre of depres">
          <th >{{depre.ID_DETALLE}}</th>
          <td>{{depre.ACT_SERIE}}</td>
          <td>{{depre.ACT_NOMBRE}}</td>
          <td>{{depre.ACT_FECHAINGRESO}}</td>
          <td>{{depre.ACT_PRECIO}}</td>
          <td>
              <label>Faltan X dias para aplicar deprecicacion</label>
          </td>
        </tr>
      </tbody>
    </table>
